@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  width: 90%;
  max-width: 680px;
  margin: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 4%;
}

.yt .pdf .heading {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 4%;
  border-radius: 12px;
  box-shadow: blue 1px 1px 12px;
}

h2 {
  margin-top: 8%;
  margin-bottom: 2%;
}

.download {
  display: block;
  margin: 2%;
}

div > iframe {
  max-width: 560px;
}

.yt {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.yt::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pdf iframe {
  width: 100%;
}
